@font-face {
  font-family: 'ComicShannsMonoNerdFont-Regular';
  src: url('/fonts/ComicShannsMonoNerdFont-Regular.otf') format('truetype');
}
body {
  font-family: "ComicShannsMonoNerdFont-Regular", Optima, Candara, Calibri, Arial, sans-serif;
}
code {
  font-family: "ComicShannsMonoNerdFont-Regular", "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
