body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  a:link, a:visited {
    color: #0076df;
  }
  a:hover {
    color: #f00;
  }
}

/* header and footer areas */
.header {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.homeTitle {
  flex: 1;
  font-size: 1.3em;
  font-weight: bold;
}

.nav {
  display: flex;
}
.menu {
  padding: 0;
  font-size: 1.2em;
  a:link, a:visited {
    color: #000;
  }
  a:hover {
    color: #f00;
  }
  li {
    display: inline;
    padding: 3px;
  }
}
a {
  text-decoration: none;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  .about {
    flex: 1;
    font-size: 1.1em;
  }
  .avatar {
    border-radius: 50%;
    margin-right: 20px;
    max-width: 30%;
    flex-shrink: 0;
  }
}
.news {
  margin: 15px;
  display: block;
  text-align: center;
  font-style: italic;
  font-size: 1.1em;
}
.publications {
  a:link, a:visited {
    color: #000;
  }
  a:hover {
    color: #f00;
  }
  .publicationsTitle {
    font-size: 1.3em;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .publication-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
    .conference {
      color: #f00;
      font-weight: bold;
      margin-right: 20px;
      flex-shrink: 0;
    }
    .info {
      .paperTitle {
        font-weight: bold;
      }
      .details {
        color: #666;
        font-style: italic;
      }
      .authors {
        span {
          border-bottom: 1px solid #000;
        }
      }
      .links {
        a {
          border: 1px solid #000;
          padding: 2px;
          border-radius: 5px;
        }
      }
    }
  }
}

.career {
  .careerTitle {
    font-size: 1.3em;
    margin-bottom: 5px;
    font-weight: bold;
  }
  .education {
    display: flex;
    flex-direction: column;
    .first-line {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 1.1em;
      .institution {
        flex: 1;
        font-weight: bold;
      }
    }
    .second-line {
      color: #666;
    }
  }
}


.article-meta {
  text-decoration: none;
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
hr {
  border-style: solid;
  color: #222;
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .avatar {
    display: none;
  }
}
